@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

* {
    font-family: 'Nunito', sans-serif !important;
}

/* utilities */

.bg-primary {
    background-color: #4047F4 !important;
}

.bg-semi-white {
    background-color: #FDFDFF !important;
    border-color: #E4E6FC !important;
}

input {
    background-color: #FDFDFF !important;
    border-color: #E4E6FC !important;
}

input::placeholder {
    font-size: 14px;
}

.btn-primary {
    background-color: #4047F4 !important;
    border-color: #4047F4;
}

.text-primary {
    color: #4047F4 !important;
}

.m-section-login-form {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.centered {
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
    text-align: center;
}

.row-login-parent-section {
    min-height: 100vh;
    overflow: hidden !important;
}

.ilus-col {
    padding-top: 180px;
}

.col-login-right {
    padding-top: 130px !important;
}

textarea:focus, input:focus {
    outline: none; 
    border: 1.5px solid #4047F4 !important;
  }
  

/* end utils */
  
@media (max-width: 575.98px) {

    .col-login-right {
        padding: 60px !important;
    }

    .ilus-col {
        display: none !important;
    }
}